.heading {
	background-color: white;
	opacity: 0.85;
	padding: 2vh;
	width: 60%;
	border-radius: 20px 20px 20px 20px;
	font-size: 3vh;
}

.Card {
	padding: 2vh;
	margin: 2vh;
	border-radius: 10px 10px 10px 10px; 
	border: 1px solid #b5b5b5;
	width: 50vh;
	display: inline-block;
	background-color: white;
	margin-bottom: 2vh;	
	opacity: 0.9;
}

.Card:hover {
	opacity: 0.98;
}

.CardImg {
	border-radius: 10px 10px 0 0;
	border: 1px solid gray;
	height: 35vh; 
	width: inherit;
}

.CardTitle {
	font-size: 2.6vh;
	font-weight: bold;
}

.CardText {
	font-size: 2.3vh;
}

.articleLink {
	font-size: 2.3vh;
	text-decoration: none;
}