.App {
	padding-top: 5rem;
	font-family: Quicksand;
	background: url('./static/images/bg2.jpg') fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}